
/*main*/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}




@media screen and (max-width: 768px) {


    footer .container{
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        text-align: center;
    }

    .container > *{
        justify-self: center;
    }

    .second-container button{
        padding: 1.5rem 1.5rem;
    }

    header .header-bg > *{
        object-position: right;
    }
    .header-bg .animation-element-2{
        top: -0.3rem;
        right: -0.45rem;
    }
}

