//-----KeyFrames-----//
@keyframes headerBgCustomAnimation1 {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
    transform: translateX(-3%) translateY(1%);
  }
}

@keyframes headerBgCustomAnimation2 {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}