//px to rem converter
@mixin toRem($property, $args...){
  $positions: (top, right, bottom, left);
  @if length($args) == 1{
    #{$property}: nth($args, 1) / 16 + rem;
  }
  @else if length($args) == 2{
    #{$property}-top: nth($args, 1) / 16 + rem;
    #{$property}-bottom: nth($args, 1) / 16 + rem;
    #{$property}-left: nth($args, 2) / 16 + rem;
    #{$property}-right: nth($args, 2) / 16 + rem;
  }
  @else if length($args) == 3{
    #{$property}-top: nth($args, 1) / 16 + rem;
    #{$property}-left: nth($args, 2) / 16 + rem;
    #{$property}-right: nth($args, 2) / 16 + rem;
    #{$property}-bottom: nth($args, 3) / 16 + rem;
  }
  @else {
    @each $position in $positions {
      $i: index($positions, $position);

      #{$property}-#{$position}: nth($args, $i) / 16 + rem;
    }
  }
}


//break points
@mixin break($length) {
  @media (max-width: $length) {
    @content
  }
}

