/*Animations and Transforms*/
.header__content__logo{
  padding: 1rem 1rem;
  cursor: pointer;
  img{
    transition: transform 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  }

  &:hover img{
    transform: rotateY(180deg) scale(1.2);
  }
}


.first__container__button-read-more{
  padding: 1rem 1rem;
  cursor: pointer;

  button{
    transition: transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transform-origin: left;
  }

  &:hover button{
    transform-origin: left;
    transform: rotate(7deg) translateY(10%);
  }
}


.second__container__button-play{
  transition: background-color 0.3s ease-out,
  color 0.2s 0.5s ease-out,
  transform 0.2s ease-out;
  &:hover{
    background-color: white;
    transform: scale(1.05);
    i{
      color: #72c8d5;
    }
  }
}
