
//----Font-sizes-----//
//header//
$header-font-extraLarge: 48;
$header-font-large: 32;
$header-font-medium: 24;
$header-font-small: 20;
$header-font-extraSmall: 14.4;

//footer//
$footer-font-extraSmall: 16;

//main_first_section//
$first-font-extraLarge: 48;
$first-font-medium: 24;
$first-font-small: 16;
$first-font-extraSmall: 12.8;

//main_second_section//
$second-font-extraLarge: 64;
$second-font-large: 48;
$second-font-medium: 24;