@import "../variables/mixins";

footer{
  width: 100%;
  background-color: #464547;
  color: white;
  padding: 3rem 0 4rem;

  .footer__container__rights{
    display: flex;
    align-items: end;
    padding-top: 4rem;
  }

  ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.4);
  }

  a{
    color: white;
    @include toRem(font-size, 16);
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
  }

  .footer__container{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;

    @include break(768px){
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-columns: 1fr;
      text-align: center;

      & > *{
        justify-self: center;
      }
    }
  }

  .footer__container__logo{
    display: flex;
    align-items: start;
    margin-right: 1rem;

    img{
      margin-right: 1rem;
    }

    span{
      padding-top: 0.1rem;
    }
  }
}



