@import "../variables/mixins";
@import "../variables/variables";

header{
  width: 100%;
  height: 100vh;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
  position: relative;

  nav{
    width: 90%;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;

    @include break(870px){
      grid-template-columns: 1fr 2fr;
    }

    @include break(768px){
      width: 90%;
      display: flex;
      justify-content: space-between;

      & ul{
        display: none;
      }
    }
    h2 {
      letter-spacing: 0.1em;
      @include toRem(font-size, $header-font-small);
      font-weight: 600;

      &:hover{
        font-weight: bold;
      }
    }

    a{
      text-decoration: none;
      color: white;
      margin: 0 0.5em;
      line-height: 1rem;
      @include toRem(font-size, $header-font-extraSmall);
      letter-spacing: 0.2em;

      &:hover{
        font-weight: bold;
      }
    }

    .header__burger{
      display: none;
      @include toRem(font-size, $header-font-large);

      @include break(768px){
        display: block;
      }
    }
  }

  .header-bg{
    position: absolute;
    min-height: 100%;
    max-height: 817px;
    min-width: 100%;
    top: 0;
    right: 0;
    overflow: hidden;
    z-index: -2;

    & > *{
      position: absolute;
      min-height: 100%;
      width: 100%;
      object-fit: cover;
      top: 0;
      right: 0;
      z-index: -1;

      @include break(768px){
        object-position: right;
      }
    }

    .header-bg__animation-element-1{
      transform: scale(0.93);
      top: -4%;
      right: -3.3%;
      animation: headerBgCustomAnimation1 3s cubic-bezier(0.22, 0.61, 0.36, 1) alternate infinite;
    }

    .header-bg__animation-element-2{
      transform: scale(0.965);
      top: -0.6rem;
      right: -1.8rem;
      animation: headerBgCustomAnimation2 5s ease-out alternate infinite backwards;
      /*opacity: 0.5;*/
      animation-delay: 3s;

      @include break(768px){
        top: -0.3rem;
        right: -0.45rem;
      }
    }

    .bg-overlay{
      background-color: rgba(0, 0, 0, 0.4);
    }


  }

  .header__content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include break(768px){
      max-width: 85%;
    }

    h1{
      font-family: 'Oswald';
      @include toRem(font-size, $header-font-extraLarge);
      line-height: 4rem;
      margin: 0 0 2rem;
    }

    p{
      line-height: 2rem;
      @include toRem(font-size, $header-font-medium);
      font-weight: 400;
      font-style: normal;
      color: rgba(255, 255, 255, 0.7);
    }

    img{
      width: 4rem;
    }
  }

}

