@import "../variables/mixins";
@import "../variables/variables";

.second{
  width: 100%;
  text-align: center;
  padding: 5rem 0;
  background: url("../../assets/BG2.png");
  color: white;
  background-size: cover;

  & > *{
    margin: 2rem 0;
  }

  @include break(798px){
    padding: 2rem 0;
  }

  h1{
    font-family: 'Oswald';
    @include toRem(font-size, $second-font-large);
    line-height: 4rem;
  }

  button{
    border-radius: 50%;
    padding: 3em 3em;
    background-color: #39C2D7;
    border: none;
    cursor: pointer;

    @include break(768px){
      padding: 1.5rem 1.5rem;
    }

    i{
      @include toRem(font-size, $second-font-extraLarge);
      color: white;
      transform: translateX(0.3rem);
    }
  }

  p{
    min-width: 351px;
    line-height: 2rem;
    @include toRem(font-size, $second-font-medium);

  }

  .second__container{
    @include break(768px){
      max-width: 85%;
    }

    & > * {
      margin: 1rem 0;

      @include break(768px){
        margin: 3rem 0;
      }
    }
  }
}


