@import "../variables/mixins";
@import "../variables/variables";

/*first section of main*/
.first{
  width: 100%;
  padding: 5rem 0;
  text-align: center;

  h1{
    font-family: 'Oswald';
    color: #464547;
    font-weight: 700;
    line-height: 4rem;
    @include toRem(font-size, $first-font-extraLarge);
    margin-bottom: 2rem;
  }

  h3{
    line-height: 2rem;
    @include toRem(font-size, $first-font-medium);
    margin-bottom: 3rem;
    color: #666666;

    @include break(768px){
      text-align: left;
      align-self: flex-start;
    }
  }

  .first__container{
    @include break(768px){
      max-width: 85%;
    }
  }

  .first__container__content{
    width: 75%;

    & > *{
      width: calc(50% - 2.5rem);
      line-height: 1.4rem;
      color: #666666;
      text-align: left;
      @include toRem(font-size, $first-font-small);
      margin-bottom: 3rem;
    }

    @include break(768px){
      width: 100%;
      flex-direction: column;
      align-items: center;
    }

    p{
      @include break(768px){
        width: 100%;
      }
    }
  }

  button {
    font-family: 'Oswald';
    background-color: #55C2D8;
    border-radius: 18px;
    padding: 0.5em 1.5em;
    @include toRem(font-size, $first-font-extraSmall);
    color: white;
    border: none;
    text-transform: uppercase;
    line-height: 26px;
    letter-spacing: 0.1em;
    cursor: pointer;
    transition: background-color 0.5s ease;

    &:hover{
      background-color: #7cccdc;
    }
  }
}



