@import "variables/mixins";

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

.flex-center{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-space-btw{
  display: flex;
  justify-content: space-between;
}

.active{
  border-bottom: 2px solid white;
  padding-bottom: 2px;
}

h1{
  @include toRem(font-size, 64)
}


h3{
  @include toRem(font-size, 32);
  font-weight: normal;
}