/*Source Sans Pro*/
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
/*Oswald*/
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-space-btw {
  display: flex;
  justify-content: space-between;
}

.active {
  border-bottom: 2px solid white;
  padding-bottom: 2px;
}

h1 {
  font-size: 4rem;
}

h3 {
  font-size: 2rem;
  font-weight: normal;
}

header {
  width: 100%;
  height: 100vh;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
  position: relative;
}
header nav {
  width: 90%;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
@media (max-width: 870px) {
  header nav {
    grid-template-columns: 1fr 2fr;
  }
}
@media (max-width: 768px) {
  header nav {
    width: 90%;
    display: flex;
    justify-content: space-between;
  }
  header nav ul {
    display: none;
  }
}
header nav h2 {
  letter-spacing: 0.1em;
  font-size: 1.25rem;
  font-weight: 600;
}
header nav h2:hover {
  font-weight: bold;
}
header nav a {
  text-decoration: none;
  color: white;
  margin: 0 0.5em;
  line-height: 1rem;
  font-size: 0.9rem;
  letter-spacing: 0.2em;
}
header nav a:hover {
  font-weight: bold;
}
header nav .header__burger {
  display: none;
  font-size: 2rem;
}
@media (max-width: 768px) {
  header nav .header__burger {
    display: block;
  }
}
header .header-bg {
  position: absolute;
  min-height: 100%;
  max-height: 817px;
  min-width: 100%;
  top: 0;
  right: 0;
  overflow: hidden;
  z-index: -2;
}
header .header-bg > * {
  position: absolute;
  min-height: 100%;
  width: 100%;
  object-fit: cover;
  top: 0;
  right: 0;
  z-index: -1;
}
@media (max-width: 768px) {
  header .header-bg > * {
    object-position: right;
  }
}
header .header-bg .header-bg__animation-element-1 {
  transform: scale(0.93);
  top: -4%;
  right: -3.3%;
  animation: headerBgCustomAnimation1 3s cubic-bezier(0.22, 0.61, 0.36, 1) alternate infinite;
}
header .header-bg .header-bg__animation-element-2 {
  transform: scale(0.965);
  top: -0.6rem;
  right: -1.8rem;
  animation: headerBgCustomAnimation2 5s ease-out alternate infinite backwards;
  /*opacity: 0.5;*/
  animation-delay: 3s;
}
@media (max-width: 768px) {
  header .header-bg .header-bg__animation-element-2 {
    top: -0.3rem;
    right: -0.45rem;
  }
}
header .header-bg .bg-overlay {
  background-color: rgba(0, 0, 0, 0.4);
}
header .header__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  header .header__content {
    max-width: 85%;
  }
}
header .header__content h1 {
  font-family: "Oswald";
  font-size: 3rem;
  line-height: 4rem;
  margin: 0 0 2rem;
}
header .header__content p {
  line-height: 2rem;
  font-size: 1.5rem;
  font-weight: 400;
  font-style: normal;
  color: rgba(255, 255, 255, 0.7);
}
header .header__content img {
  width: 4rem;
}

/*main*/
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*first section of main*/
.first {
  width: 100%;
  padding: 5rem 0;
  text-align: center;
}
.first h1 {
  font-family: "Oswald";
  color: #464547;
  font-weight: 700;
  line-height: 4rem;
  font-size: 3rem;
  margin-bottom: 2rem;
}
.first h3 {
  line-height: 2rem;
  font-size: 1.5rem;
  margin-bottom: 3rem;
  color: #666666;
}
@media (max-width: 768px) {
  .first h3 {
    text-align: left;
    align-self: flex-start;
  }
}
@media (max-width: 768px) {
  .first .first__container {
    max-width: 85%;
  }
}
.first .first__container__content {
  width: 75%;
}
.first .first__container__content > * {
  width: calc(50% - 2.5rem);
  line-height: 1.4rem;
  color: #666666;
  text-align: left;
  font-size: 1rem;
  margin-bottom: 3rem;
}
@media (max-width: 768px) {
  .first .first__container__content {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .first .first__container__content p {
    width: 100%;
  }
}
.first button {
  font-family: "Oswald";
  background-color: #55C2D8;
  border-radius: 18px;
  padding: 0.5em 1.5em;
  font-size: 0.8rem;
  color: white;
  border: none;
  text-transform: uppercase;
  line-height: 26px;
  letter-spacing: 0.1em;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.first button:hover {
  background-color: #7cccdc;
}

.second {
  width: 100%;
  text-align: center;
  padding: 5rem 0;
  background: url("../../assets/BG2.png");
  color: white;
  background-size: cover;
}
.second > * {
  margin: 2rem 0;
}
@media (max-width: 798px) {
  .second {
    padding: 2rem 0;
  }
}
.second h1 {
  font-family: "Oswald";
  font-size: 3rem;
  line-height: 4rem;
}
.second button {
  border-radius: 50%;
  padding: 3em 3em;
  background-color: #39C2D7;
  border: none;
  cursor: pointer;
}
@media (max-width: 768px) {
  .second button {
    padding: 1.5rem 1.5rem;
  }
}
.second button i {
  font-size: 4rem;
  color: white;
  transform: translateX(0.3rem);
}
.second p {
  min-width: 351px;
  line-height: 2rem;
  font-size: 1.5rem;
}
@media (max-width: 768px) {
  .second .second__container {
    max-width: 85%;
  }
}
.second .second__container > * {
  margin: 1rem 0;
}
@media (max-width: 768px) {
  .second .second__container > * {
    margin: 3rem 0;
  }
}

footer {
  width: 100%;
  background-color: #464547;
  color: white;
  padding: 3rem 0 4rem;
}
footer .footer__container__rights {
  display: flex;
  align-items: end;
  padding-top: 4rem;
}
footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.4);
}
footer a {
  color: white;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
}
footer .footer__container {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
@media (max-width: 768px) {
  footer .footer__container {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    text-align: center;
  }
  footer .footer__container > * {
    justify-self: center;
  }
}
footer .footer__container__logo {
  display: flex;
  align-items: start;
  margin-right: 1rem;
}
footer .footer__container__logo img {
  margin-right: 1rem;
}
footer .footer__container__logo span {
  padding-top: 0.1rem;
}

/*Animations and Transforms*/
.header__content__logo {
  padding: 1rem 1rem;
  cursor: pointer;
}
.header__content__logo img {
  transition: transform 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.header__content__logo:hover img {
  transform: rotateY(180deg) scale(1.2);
}

.first__container__button-read-more {
  padding: 1rem 1rem;
  cursor: pointer;
}
.first__container__button-read-more button {
  transition: transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transform-origin: left;
}
.first__container__button-read-more:hover button {
  transform-origin: left;
  transform: rotate(7deg) translateY(10%);
}

.second__container__button-play {
  transition: background-color 0.3s ease-out, color 0.2s 0.5s ease-out, transform 0.2s ease-out;
}
.second__container__button-play:hover {
  background-color: white;
  transform: scale(1.05);
}
.second__container__button-play:hover i {
  color: #72c8d5;
}

@keyframes headerBgCustomAnimation1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(-3%) translateY(1%);
  }
}
@keyframes headerBgCustomAnimation2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
